@model  HelloWorldMVC.Models.Restaurant
<!Doctype html>
<html>
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
    <h1>Name : @Model.Name</h1>
    <p>Rating @Model.Score</p>
</body>
</html>
